{%extends '../base.html'%}
{%block 'title'%}
Academics
{%endblock%}
{%block 'css'%}
<link rel="stylesheet" href="/static/css/pages/academics.css">
{%endblock%}
{%block 'html'%}
<div class="flex flex-col items-center py-16 px-40 gap-10" id="main-div1">
    <h1 data-aos="fade-up"
    data-aos-duration="2000" class="text-7xl font-semibold">ACADEMICS</h1>
    <p data-aos="fade-up"
    data-aos-duration="2000"  class="text-center tracking-wide text-lg text-slate-400 leading-10" style="width: 500px;">I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me to add your own content and make changes to the font. </p>
</div>
<div class="bg-indigo-500 flex items-center justify-center p-5 sm:p-20 " >
    <div class="flex flex-wrap justify-center xl:gap-0 gap-10 ">
        {%for i in subjects%}
        {% if forloop.counter|divisibleby:3 or forloop.counter|divisibleby:4 %}
        <div class="flex flex-col-reverse md:flex-row-reverse " id="main-div2">
           
            <div class="bg-slate-800 flex flex-col items-start p-10 justify-center gap-10 text-white " style="width: 330px;" id="box1">
                <h1 data-aos="fade-up"
                data-aos-duration="1000"
                class="text-xl">{{i.subject_name}}</h1>

                <p data-aos="fade-up"
                data-aos-duration="1000"
                 class="leading-2  font-extralight">{{i.description}}</p>

                <a href="/academics/subject/{{i.id}}" data-aos="fade-up"
                data-aos-duration="1000"><button class="bg-indigo-500 px-5 py-3">Learn More</button></a>
            </div>
             <div style="width: 330px;" id="box2">
                <img src="{{i.images.url}}" alt="">
            </div>
        </div>
        {%else%}
        <div class="flex flex-col md:flex-row-reverse" id="main-div2">
            <div style="width: 330px;" id="box2">
                <img src="{{i.images.url}}" alt="">
            </div>
            <div id="box1" class="bg-white flex flex-col items-start p-10 justify-center gap-10 text-slate-800 " style="width: 330px;">
                <h1 data-aos="fade-up"
                data-aos-duration="1000"
                 class="text-xl">{{i.subject_name}}</h1>

                <p data-aos="fade-up"
                data-aos-duration="1000"
                 class="leading-2  font-extralight">{{i.description}}</p>
                
                 <a href="/academics/subject/{{i.id}}" data-aos="fade-up"
                 data-aos-duration="1000"><button class="bg-indigo-500 px-5 py-3 text-white">Learn More</button></a>
            </div>
           
        </div>
        {%endif%}
        {%endfor%}
    </div>
</div>
{%endblock%}
