{%extends '../base.html'%}
{%block 'title'%}
Rdigeview Admission
{%endblock%}
{%block 'css'%}
{%endblock%}
{%block 'html'%}
<div class="flex  flex-col items-center gap-5 py-20 px-5 sm:px-10">
    <h1 data-aos="fade-up"
     class="text-2xl sm:text-7xl font-bold ">ADMISSION</h1>
    <p data-aos="fade-up"
      class="w-full sm:w-96 leading-7 text-center text-lg font-thin">I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me to add your own content and make changes to the font. </p>
</div>
<div class="flex lg:flex-row flex-col-reverse  px-0 sm:px-10 lg:px-20">
    <div class="p-5 sm:p-14 w-full lg:w-1/2 flex flex-col items-center gap-5">
        <h1 class="text-xl text-center sm:text-4xl w-full sm:w-56 ">Open House Information</h1>
        <p class="text-center tracking-wide text-lg text-slate-400 leading-10 w-full sm:w-96">I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me to add your own content and make changes to the font.</p>
        <p class="text-center tracking-wide text-lg text-slate-400 leading-10 w-full sm:w-96">This is a great space to write a long text about your company and your services. You can use this space to go into a little more detail about your company.</p>
        <p class="text-center tracking-wide text-lg text-slate-400 leading-10 w-full sm:w-96">Talk about your team and what services you provide. Tell your visitors the story of how you came up with the idea for your business and what makes you different from your competitors. Make your company stand out and show your visitors who you are.</p>
    </div>
    <div class="p-5 sm:p-14 w-full lg:w-1/2 flex flex-col items-center gap-5 bg-slate-800 text-white ">
        <h1 class="w-full sm:w-80 text-xl sm:text-4xl text-center text-indigo-500">Prospective Parent & Student</h1>
        <p class="text-center tracking-wide text-lg text-slate-400 leading-10 w-full sm:w-96">I'm a paragraph. Click here to add your own text and edit me. It’s easy.</p>
        <p class="text-center tracking-wide text-lg text-slate-400 leading-10 w-full sm:w-96">Just click “Edit Text” or double click me to add your own content and make changes to the font. Feel free to drag and drop me anywhere you like on your page.</p>
        <h2 class="text-indigo-500 text-2xl text-center">FOR MORE INFORMATION </h2>
        <div class="flex flex-col gap-5">
            <q>E-MAIL US</q>
            <w>info@mysite.com</w>
            <e> CALL OUR MAINLINE</e>
            <r>123-456-7890</r>
        </div>
    </div>
</div>
<img src="/static/images/2e2a49_c117547fc43b4de2b13c344f5e7b382e~mv2.webp" class="p-0 sm:px-20 sm:pb-5" alt="">
{%endblock%}