{%extends '../base.html'%}
{%block 'title'%}
Ridgeview Students
{%endblock%}
{%block 'css'%}
{%endblock%}
{%block 'html'%}
<div class="flex  flex-col items-center gap-5 py-20 px-5 sm:px-10">
    <h1 data-aos="fade-up"
     class="text-2xl sm:text-7xl font-bold">OUT STUDENTS</h1>
    <p data-aos="fade-up"
      class="w-full sm:w-96 leading-7 text-center text-lg font-thin">I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me to add your own content and make changes to the font. </p>
</div>
<div class="flex flex-col p-0 py-10 sm:p-10 lg:p-20 ">
    <div class="flex flex-col lg:flex-row ">
        <div class=" w-full lg:w-1/2 bg-indigo-500 flex flex-col items-center justify-center p-7 sm:p-16 gap-5">
            <h1 data-aos="fade-up"
            data-aos-duration="1000" class="text-2xl sm:text-4xl">Clubs & Activites</h1>
            <p data-aos="fade-up"
            data-aos-duration="1000" class="w-full sm:w-96 leading-7 text-center text-sm sm:text-lg font-thin text-white">I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me to add your own content and make changes to the font.</p>
            <p data-aos="fade-up"
            data-aos-duration="1000" class="text-white w-full sm:w-96 leading-7 text-center text-sm sm:text-lg font-thin">This is a great space to write a long text about your company and your services. You can use this space to go into a little more detail about your own company.</p>
        </div>
        <img data-aos="fade-up"
        data-aos-duration="1000" class=" w-full lg:w-1/2" src="/static/images/students/2e2a49_8282f048c1f24b16ba876fecc65cf664~mv2.webp" alt="">
    </div>
    <div class="flex flex-col lg:flex-row-reverse ">
        <div class="w-full lg:w-1/2  flex flex-col items-center justify-center p-7 sm:p-16 gap-5">
            <h1 data-aos="fade-up"
            data-aos-duration="1000" class="text-2xl sm:text-4xl">After School</h1>
            <p data-aos="fade-up"
            data-aos-duration="1000" class="w-full sm:w-96 leading-7 text-center text-sm sm:text-lg font-thin text-black">I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me to add your own content and make changes to the font.</p>
            <p data-aos="fade-up"
            data-aos-duration="1000" class="w-full sm:w-96 leading-7 text-center text-sm sm:text-lg font-thin text-black">This is a great space to write a long text about your company and your services. You can use this space to go into a little more detail about your own company.</p>
        </div>
        <img data-aos="fade-up"
        data-aos-duration="1000" src="/static/images/students/2e2a49_9ec1caa9b08c437fb9a316b66155faa6~mv2.webp" class="w-full lg:w-1/2" alt="">
    </div>
</div>
{%endblock%}